
@if (Verse != null)
{
    <div class="card h-100">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="card-header text-center">
                <h3>@Title</h3>
            </div>
        }
        <div class="card-body">
            <h4 class="card-title text-center"> @Verse.Date.ToString("dd/MM/yyyy")</h4>
            <p class="card-text text-justify">@Verse.Content</p>
            <p class="card-text text-right"><strong>@Verse.Book</strong></p>
        </div>
        <div id="share-buttons" class="card-footer">
            <span>Share: </span>
            @*<a alt="Whatsapp" href="whatsapp://send" data-text="Text to share" data-href="http://example.com/url-to-share" class=" float-right whatsapp wa_btn"><span class="zmdi zmdi-whatsapp"></span> Whatsapp</a>*@
            <a class="float-right" href="whatsapp://send?text=@shareText" data-action="share/whatsapp/share" target="_blank">
                <span class="zmdi zmdi-whatsapp"></span> Whatsapp
            </a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Verse Verse { get; set; }

    [Parameter]
    public string Title { get; set; }

    private string shareText => $"YOURSOUL4CHRIST%0a%0a" +
            $"*Verse of the Day - {Verse.Date:dd/MM/yyyy}* %0a%0a" +
            $"{Verse.Content}%0a%0a" +
            $"_{Verse.Book}_";
}
