
@if (Verse != null)
{
    <div class="card h-100">
        @if (!string.IsNullOrEmpty(Title))
        {
            <div class="card-header text-center">
                <h3>@Title</h3>
            </div>
        }
        <div class="card-body">
            <h4 class="card-title text-center"> @Verse.Date.ToString("dd/MM/yyyy")</h4>
            <p class="card-text text-justify">@Verse.Content</p>
            <p class="card-text text-right"><strong>@Verse.Book</strong></p>
        </div>
        <div id="share-buttons" class="card-footer">
            <span>Share: </span>
            <a class="float-right" href="whatsapp://send?@shareText" data-action="share/whatsapp/share" target="_blank">
                <img style="width:25px; border-radius:25px;" src="/images/whatsapp-icon.png" />
            </a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Verse Verse { get; set; }

    [Parameter]
    public string Title { get; set; }

    private string shareText => $"YOURSOUL4CHRIST{Environment.NewLine}{Environment.NewLine}" +
            $" Verse of the Day - {Verse.Date:dd/MM/yyyy}{Environment.NewLine}{Environment.NewLine}" +
            $"{Verse.Content}{Environment.NewLine}{Environment.NewLine}" +
            $"{Verse.Book}";
}
