@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime


<div id="wrapper" class="@NavMenuCssClass">
    <NavMenu OnNavbarClicked="ToggleNavMenu" />
    <header class="topbar-nav">
        <TopNavBar OnToggleClicked="ToggleNavMenu" />
    </header>

    <div class="clearfix"></div>

    <div class="content-wrapper" @onclick="HandleBodyClick">
        <div class="container-fluid">
            @Body
        </div>
    </div>
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>

    <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2020 Souls for Christ Ministry
                </div>
            </div>
        </footer>

    <div class="right-sidebar">
        <ThemeSetting />
    </div>
</div>

@code{
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? null : "toggled";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void HandleBodyClick()
    {
        if (!string.IsNullOrEmpty(NavMenuCssClass) && NavMenuCssClass.Equals("toggled"))
        {
            collapseNavMenu = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JsRuntime.InvokeVoidAsync("onBlazorReady");
    }
}